[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.4"
certifi = "==2020.6.20"
click = "==7.1.2"
decorator = "==4.4.2"
distlib = "==0.3.1"
filelock = "==3.0.12"
imageio = "==2.9.0"
imutils = "==0.5.3"
itsdangerous = "==1.1.0"
joblib = "==0.16.0"
kiwisolver = "==1.2.0"
libsvm = "==3.23.0.4"
matplotlib = "==3.3.0"
networkx = "==2.4"
numpy = "==1.19.0"
opencv-python = "==4.3.0.38"
pandas = "==1.0.5"
pickle-mixin = "==1.0.2"
pipenv = "==2020.8.13"
pyparsing = "==2.4.7"
python-dateutil = "==2.8.1"
pytz = "==2020.1"
regex = "==2020.7.14"
scikit-image = "==0.17.2"
scikit-learn = "==0.23.1"
scipy = "==1.5.1"
six = "==1.15.0"
threadpoolctl = "==2.1.0"
tifffile = "==2020.7.17"
virtualenv = "==20.0.35"
virtualenv-clone = "==0.5.4"
Cycler = "==0.10.0"
Flask = "==1.1.2"
Flask-Cors = "==3.0.9"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
Pillow = "==7.2.0"
PyWavelets = "==1.1.1"
Werkzeug = "==1.0.1"
scikit-build = "==0.11.1"

[requires]
python_version = "3.8"
